@charset "utf-8";
    *{
        padding:0px;
        margin:0px auto;
        text-align:center;
        text-decoration:none;
        list-style-type:none;
        color:#333333;
    }
    .outer{
        width:1200px;
    }
    #pheader{
        width:100%;
        height:110px;
        background-color:white;
    }
    #header{
        position:fixed;
        width:100%;
        height:110px;
        background-color:white;
        opacity:0.8;
    }
    .logo{
        width:60px;
        height:60px;
    }
    .main-menu{
        margin:0 75px;
    }
    .main-menu>li{
        float:left;
        width:150px;
        height:50px;
    }
    .main-menu>li>a{
        font-weight:bolder;
        line-height:50px;
        color:#214a9c;
        display:block;
    }
    .sub-menu{
        background-color:white;
        border-top:solid 2px #214a9c;
        overflow:hidden;
        display:none;
    }
    .sub-menu>li{
        width:150px;
        height:30px;
    }
    .sub-menu>li>a{
        line-height:30px;
        display:block;
    }
    #slide{
        width:1200px;
        height:500px;
        position: relative;
        z-index: -1;
    }
    #slide>img{
      position: absolute;
      top:0;
      left:0;
    }
    #contents{
        width:1200px;
        height:400px;
    }
    #contents>div{
        width:400px;
        height:400px;
        float:left;
    }
    .box{
      width:390px;
      height:350px;
    }
    .box>ul>li{
      width:390px;
      height:50px;
    }
    .box>ul>li>a{
      display:block;
      line-height:50px;
      text-align:left;
    }
    .menu-name{
        width:390px;
        height:40px;
        margin:5px;
        background-color:#214a9c;
    }
    .menu-name>a{
        color:#ffffff;
        text-align:left;
        line-height:40px;
        display:block;
    }
    #footer{
        width:100%;
        height:160px;
        background-color:black;
        text-align:left;
    }
    #footer>div{
      width:100%;
      heigt:100px;
      color:#dddddd;
      text-align:left;
    }
    .footer-menu{
      width:100%;
      height:60px;
    }
    .footer-menu>li{
      float:left;
      height:30px;
      color:#dddddd;
      margin:15px;
    }
    .footer-menu>li>a{
      color:#dddddd;
      display:block;
      line-height:30px;
    }
    #page{
      width:1200px;
      height:800px;
      border-left:solid 3px #eeeeee;
      border-right:solid 3px #eeeeee;
      line-height:800px;
    }
    #pagenumber{
      height:50px;
    }
    #pagenumber>li{
      display: inline-block;
      hight:50px;
      width:30px;
    }
    #pagenumber>li{
      line-height:50px;
    }
